basic/SoapWS/src/main/webapp/WEB-INF/xsd/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://www.example.org/xsd/Employee" 
        xmlns:tns="http://www.example.org/xsd/Employee" 
        elementFormDefault="qualified">

    <element name="Employee">
      <complexType>
    	<sequence>
    		<element name="EmpId"          type="string"/>
    		<element name="EmpName"        type="string"/>
    		<element name="EmpSsn"         type="string"/>
    	</sequence>
       </complexType>
    </element>
    
    
    <element name="Logoff">
      <complexType/>
    </element>    
  
</schema>